Nilesh Misra                                                             
InfoPillar Solution Pvt Ltd                                                 
TASK: Fake News Detection Project

In [46]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import PassiveAggressiveClassifier
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics import accuracy_score, confusion_matrix

In [47]:
df = pd.read_csv('/content/drive/MyDrive/IPSVIP/Fake News Detection Project/Dataset/news.csv')
df.head(6)

   Unnamed: 0  ... label
0        8476  ...  FAKE
1       10294  ...  FAKE
2        3608  ...  REAL
3       10142  ...  FAKE
4         875  ...  REAL
5        6903  ...  FAKE

[6 rows x 4 columns]

In [48]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6335 entries, 0 to 6334
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  6335 non-null   int64
 1   title       6335 non-null   object
 2   text        6335 non-null   object
 3   label       6335 non-null   object
dtypes: int64(1), object(3)
memory usage: 198.1+ KB

In [49]:
df.describe()

         Unnamed: 0
count   6335.000000
mean    5280.415627
std     3038.503953
min        2.000000
25%     2674.500000
50%     5271.000000
75%     7901.000000
max    10557.000000

In [50]:
df.shape

(6335, 4)

In [51]:
X = df['text']
y = df['label']

In [52]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [53]:
tfvect = TfidfVectorizer(stop_words = 'english', max_df = 0.7)
classifier = PassiveAggressiveClassifier(max_iter = 50)

In [54]:
tfid_X_train = tfvect.fit_transform(X_train)

In [55]:
tfid_X_train

<5068x61713 sparse matrix of type '<class 'numpy.float64'>'
	with 1335369 stored elements in Compressed Sparse Row format>

In [56]:
tfid_X_test = tfvect.transform(X_test)

In [57]:
tfid_X_test

<1267x61713 sparse matrix of type '<class 'numpy.float64'>'
	with 323863 stored elements in Compressed Sparse Row format>

In [58]:
classifier.fit(tfid_X_train, y_train)

PassiveAggressiveClassifier(max_iter=50)

In [59]:
y_prediction = classifier.predict(tfid_X_test)
score = accuracy_score(y_test, y_prediction)
print(f'Accuracy: {round(score * 100, 2)}%')

Accuracy: 93.61%

In [60]:
def prediction(news):
  input_data = [news]
  vectorized_input_data = tfvect.transform(input_data)
  prediction = classifier.predict(vectorized_input_data)
  print(prediction)

In [61]:
prediction('The project seems quite interesting and reported massive participation')

['FAKE']

In [62]:
prediction('The rain went through many village in INDIA')

['FAKE']